doctype html
html
	head

		link(rel='stylesheet', href='/css/style.css')

		script(src='/node_modules/phaser/dist/phaser.js')

		script(data-main='/js/main.js' src='/js/require.js')
	
body

	.site-wrapper
		block content		
			
	block footer